zillow-scraper-deliverable/zillow_workflow.json
{
  "name": "Zillow Rental Scraper – Fort Lauderdale",
  "nodes": [
    {
      "parameters": {},
      "id": "node-trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [220, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "location",
              "value": "Fort Lauderdale, FL",
              "type": "string"
            },
            {
              "id": "2",
              "name": "zip",
              "value": "33301",
              "type": "string"
            },
            {
              "id": "3",
              "name": "search_type",
              "value": "rent",
              "type": "string"
            },
            {
              "id": "4",
              "name": "beds_min",
              "value": 4,
              "type": "number"
            },
            {
              "id": "5",
              "name": "price_max",
              "value": 20000,
              "type": "number"
            },
            {
              "id": "6",
              "name": "serpapi_key",
              "value": "059fb1f02005d999daa65d57a614b3521b5cb3617e1b8a5018db00981d5553d7",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "node-params",
      "name": "Set Parameters",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [440, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://serpapi.com/search.json",
        "authentication": "none",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "engine", "value": "zillow" },
            { "name": "search_type", "value": "={{ $json.search_type }}" },
            { "name": "location", "value": "={{ $json.location + ' ' + $json.zip }}" },
            { "name": "beds_min", "value": "={{ $json.beds_min }}" },
            { "name": "price_max", "value": "={{ $json.price_max }}" },
            { "name": "api_key", "value": "={{ $json.serpapi_key }}" }
          ]
        },
        "options": {}
      },
      "id": "node-http",
      "name": "Search Zillow via SerpAPI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [660, 300]
    },
    {
      "parameters": {
        "jsCode": "const results = $input.first().json.properties || [];\n\nif (results.length === 0) {\n  return [{ json: { error: 'No properties found' } }];\n}\n\nreturn results.map(item => ({\n  json: {\n    property_url: item.url ? 'https://www.zillow.com' + item.url : (item.detail_url || 'N/A'),\n    monthly_rent: item.price || 'N/A',\n    bedrooms: item.beds || 0,\n    bathrooms: item.baths || 0,\n    address: item.address || 'N/A',\n    sqft: item.area || 'N/A',\n    zpid: item.zpid || ''\n  }\n}));"
      },
      "id": "node-extract",
      "name": "Extract Property Fields",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "cond-1",
              "leftValue": "={{ $json.bedrooms }}",
              "rightValue": 4,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            },
            {
              "id": "cond-2",
              "leftValue": "={{ $json.monthly_rent }}",
              "rightValue": 20000,
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "node-filter",
      "name": "Filter 4+ Beds & Under $20k",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [1100, 300]
    },
    {
      "parameters": {
        "fieldsToCompare": {
          "fields": [
            { "fieldName": "property_url" }
          ]
        },
        "options": {}
      },
      "id": "node-dedup",
      "name": "Remove Duplicates",
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 1,
      "position": [1320, 300]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "mode": "id",
          "value": "1J712zkK-iK11bLPpvOlGxHu9p1XAjiyRwq4LzTfFUjI"
        },
        "sheetName": {
          "mode": "name",
          "value": "Rental Properties"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "property_url": "={{ $json.property_url }}",
            "monthly_rent": "={{ $json.monthly_rent }}",
            "bedrooms": "={{ $json.bedrooms }}",
            "bathrooms": "={{ $json.bathrooms }}",
            "address": "={{ $json.address }}",
            "sqft": "={{ $json.sqft }}"
          }
        },
        "options": {}
      },
      "id": "node-sheets",
      "name": "Save to Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [1540, 300]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [[{ "node": "Set Parameters", "type": "main", "index": 0 }]]
    },
    "Set Parameters": {
      "main": [[{ "node": "Search Zillow via SerpAPI", "type": "main", "index": 0 }]]
    },
    "Search Zillow via SerpAPI": {
      "main": [[{ "node": "Extract Property Fields", "type": "main", "index": 0 }]]
    },
    "Extract Property Fields": {
      "main": [[{ "node": "Filter 4+ Beds & Under $20k", "type": "main", "index": 0 }]]
    },
    "Filter 4+ Beds & Under $20k": {
      "main": [[{ "node": "Remove Duplicates", "type": "main", "index": 0 }]]
    },
    "Remove Duplicates": {
      "main": [[{ "node": "Save to Google Sheets", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": true
  }
}
